<h1 id="aspnet">ASP.NET</h1>
<div class="toc">
<ul>
<li><a href="#aspnet">ASP.NET</a><ul>
<li><a href="#aspnet-rendering">ASP.NET: Rendering</a><ul>
<li><a href="#aspnet-rendering-render-control-and-all-childs-to-string">ASP.NET: Rendering - Render control (and all childs) to string:</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<h2 id="aspnet-rendering">ASP.NET: Rendering</h2>
<h3 id="aspnet-rendering-render-control-and-all-childs-to-string">ASP.NET: Rendering - Render control (and all childs) to string:</h3>
<pre><code>String ContactPhotoUpdateControlGetContent(Control cpu_Control)
{
    string cpu_Result = String.Empty;

    using (System.IO.StringWriter cpu_TextWriter = new System.IO.StringWriter())
    {
        using (HtmlTextWriter cpi_HtmlWriter = new HtmlTextWriter(cpu_TextWriter))
        {
            cpu_Control.RenderControl(cpi_HtmlWriter);
            cpu_Result = cpu_TextWriter.ToString();
        }
    }

    return cpu_Result;
}
</code></pre>
<hr />
<p><a href="index.html">Notebok</a></p>