<h1 id="django">Django</h1>
<div class="toc">
<ul>
<li><a href="#django">Django</a><ul>
<li><a href="#django-commands">Django: Commands</a></li>
<li><a href="#django-models">Django: Models</a><ul>
<li><a href="#django-models-table-names">Django: Models - Table Names</a></li>
</ul>
</li>
<li><a href="#django-views">Django: Views</a><ul>
<li><a href="#django-views-response">Django: Views - Response</a></li>
<li><a href="#django-views-raising-404">Django: Views - Raising 404</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<h2 id="django-commands">Django: Commands</h2>
<ul>
<li>
<p>Create project:</p>
<p>$ django-admin.py startproject projectname</p>
</li>
<li>
<p>Run development web-server:</p>
<p>$ cd projectname
$ python manage.py runserver</p>
</li>
<li>
<p>Run database shell:</p>
<p>$ python manage.py dbshell</p>
</li>
<li>
<p>Create application:</p>
<p>$ python manage.py startapp applicationname</p>
</li>
<li>
<p>Validate database model classes:</p>
<p>$ python manage.py validate</p>
</li>
<li>
<p>Review the DDL-SQL for one application:</p>
<p>$ python manage.py sqlall applicationname</p>
</li>
<li>
<p>Syncing Up the models to the database:</p>
<p>$ python manage.py syncdb</p>
</li>
<li>
<p>Create superuaer (admin):</p>
<p>$ python manage.py createsuperuser</p>
</li>
</ul>
<h2 id="django-models">Django: Models</h2>
<h3 id="django-models-table-names">Django: Models - Table Names</h3>
<p>By default the names of the tables are same as the class name prefixed by the application name:</p>
<pre><code>catalog_category
catalog_product
catalog_product_categories
</code></pre>
<p>You can override the default specifying meta classes inside the model classes:
    class Category(models.Model):
        name = models.CharField(max_length = 50)
        slug = models.SlugField(
            ...</p>
<pre><code>       class Meta:
        db_table = "categories"
        ordering = ["-created_at"]
        verbose_name_plural = "Categories"
</code></pre>
<h2 id="django-views">Django: Views</h2>
<h3 id="django-views-response">Django: Views - Response</h3>
<p>They are different ways to <strong>return HttpResponse</strong> from a view.</p>
<ul>
<li>Using <code>django.http.HttpResponse</code>:</li>
</ul>
<p>~~~</p>
<pre><code>from django.http import HttpResponse

def index(request):
    return HttpResponse("Hello world!")
</code></pre>
<p>~~~</p>
<ul>
<li>Using <code>django.template.loader</code> and <code>dango.template.Context</code>:</li>
</ul>
<p>~~~</p>
<pre><code>from django.template import Context, loader

def index(request):
    t = loader.get_template('applicationname/templatepagename.html')
    c = Context({
        'msg': 'Hello world!',
    })
    return HttpResponse(t.render(c))
</code></pre>
<p>~~~</p>
<ul>
<li>Using <code>django.shortcuts.render_to_response</code>:</li>
</ul>
<p>~~~</p>
<pre><code>from django.shortcuts import render_to_response

def index(request):
return render_to_response(
    'applicationname/templatepagename.html',
    {'msg': 'Hello world!'}
    )
</code></pre>
<p>~~~</p>
<h3 id="django-views-raising-404">Django: Views - Raising 404</h3>
<p>They are diferent ways to <strong>raise Http404</strong> error from a view.</p>
<ul>
<li>Using <code>django.http.Http404</code>:</li>
</ul>
<p>~~~</p>
<pre><code>from django.http import Http404
from django.shortcuts import render_to_response
from polls.models import Poll

def detail(request, poll_id):
    try:
        p = Poll.objects.get(pk=poll_id)
    except Poll.DoesNotExist:
        raise Http404
    return render_to_response('polls/detail.html',{'poll': p})
</code></pre>
<p>~~~</p>
<ul>
<li>Using <code>django.shortcuts.get_object_or_404</code>:</li>
</ul>
<p>~~~</p>
<pre><code>from django.shortcuts import render_to_response, get_object_or_404
from polls.models import Poll

def detail(request, poll_id):
    p = get_object_or_404(Poll, pk=poll_id)
    return render_to_response('polls/detail.html', {'poll': p})
</code></pre>
<p>~~~</p>
<p>There's also a <code>get_list_or_404()</code> function, which works just as
<code>get_object_or_404()</code> - except using filter() instead of get().
It raises <strong>Http404</strong> if the list is empty.</p>
<hr />
<p><a href="index.html">Notebok</a></p>