<h1 id="git">Git</h1>
<h2 id="git-setup">Git : SetUp</h2>
<p>Git config:</p>
<pre><code>$ git config --global user.name "Atanas Hristov"
$ git config --global user.email "atanashristov@hotmail.com"
</code></pre>
<p>which creates config file <code>~/.gitconfig</code> with the following content:</p>
<pre><code>[user]
        name = Atanas Hristov
        email = atanashristov@hotmail.com
</code></pre>
<p>To see the complete configuration use:</p>
<pre><code>$ git config -l
</code></pre>
<p>To see only one of the config options:</p>
<pre><code>$ git config --get remote.origin.url
https://bitbucket.org/ahristov/pub.git
</code></pre>
<h2 id="git-basic-usage">Git : Basic Usage</h2>
<p>Initialize local repository:</p>
<pre><code>$ git init
</code></pre>
<p>Add file to the repository:</p>
<pre><code>$ git add file1 file2 file3 ...
</code></pre>
<p>Commit added files:</p>
<pre><code>$ git diff --cached
$ git status
$ git commit filename
</code></pre>
<p>Commit all changes</p>
<pre><code>$ git commit -a
</code></pre>
<p>Cloning a repository:</p>
<pre><code>$ git clone https://bitbucket.org/ahristov/pub.git
</code></pre>
<p>Pull from the cloned remote repository:</p>
<pre><code>$ git pull origin
</code></pre>
<p>Push to the cloned remote repository:</p>
<pre><code>$ git push origin
</code></pre>
<h2 id="git-todo">Git: TODO</h2>
<ul>
<li>How to setup bitbucket with SSH and publick keys</li>
</ul>
<hr />
<p><a href="index.html">Notebok</a></p>