<h1 id="javascript">JavaScript</h1>
<h2 id="javascript-language">JavaScript: Language</h2>
<h3 id="javascript-language-null-vs-undefined">JavaScript: Language - null vs undefined</h3>
<p>To ensure default value for argument variable use the code like:</p>
<pre><code>forename || (forename = 'Bob');
</code></pre>
<p>this will set forename to 'Bob' in the following cases:
when forename is <code>null</code>, <code>undefined</code>, <code>empty string</code>, 
0 (a <code>number zero</code>), false <code>boolean</code>. </p>
<p><code>null</code> is not the same thing as <code>undefined</code>. Example:</p>
<pre><code>null ? 'true' : 'false'
&gt; "false"
undefined ? 'true' : 'false'
&gt; "false"
null == undefined ? 'true' : 'false'
&gt; "true"
null === undefined ? 'true' : 'false'
&gt; "false"
</code></pre>
<p>To only check if variable is undefined use code like:</p>
<pre><code>function test(param) {
    (typeof param !== 'undefined') || (param = 'some default value');
    console.log(param);
}

test()
&gt; 'some default value'
test('hello')
&gt; 'hello'
</code></pre>
<h2 id="javascript-functions">JavaScript: Functions</h2>
<h3 id="javascript-functions-parameter-arguments">JavaScript: Functions - Parameter 'arguments'</h3>
<p>To use the  reference <code>arguments</code> like a regular array, you can:</p>
<pre><code>var args = Array.prototype.slice.call(arguments);
args.shift();
</code></pre>
<h3 id="javascript-functions-check-if-object-is-a-function">JavaScript: Functions - Check if object is a function</h3>
<p>To check if object is an instance of <code>Function</code> use:</p>
<pre><code>isFunction(obj) {
  return !!(obj &amp;&amp; obj.constructor &amp;&amp; obj.call &amp;&amp; obj.apply);
};
</code></pre>
<p>Reference:</p>
<blockquote>
<p>http://documentcloud.github.com/underscore/</p>
</blockquote>
<h3 id="javascript-functions-nested-functions-vs-functionprototype">JavaScript: Functions - nested functions vs Function.prototype</h3>
<p>Using nested functions needs more memory, as every time we create instance,
we'll reserve memory for the instantiate as well as for the nested function.</p>
<p>When we use Function.prototype we will allocate memory only once and reuse
this function later in all instances.</p>
<p>Example:</p>
<pre><code>function Person(firstName, lastName) {
   this.firstName = firstName;
   this.lastName = lastName;

   this.getFullNameNested = function() {
      return this.firstName + ' ' + this.lastName;
   }
}

Person.prototype.getFullNamePrototype = function() {
    return this.firstName + ' ' + this.lastName; 
}

var atanas = new Person('Atanas', 'Hristov');
var rosi = new Person('Rositsa', 'Hristova');

atanas.getFullNameNested === rosi.getFullNameNested
&gt; false

atanas.getFullNamePrototype === rosi.getFullNamePrototype
&gt; true
</code></pre>
<h2 id="javascript-events">JavaScript: Events</h2>
<h3 id="javascript-events-losing-this-use-bind">JavaScript: Events - Losing <code>this</code>? Use bind().</h3>
<p>When creating objects, from within the objects we can access
internal functions or variables with the reference <code>this.</code>.</p>
<p>The object may expose functions to be used as event handlers for DOM events.</p>
<p>When the event happens, if these exposed functions use the reference <code>this.</code> 
they will lose the implicite binding to the object, now when see there a reference 
to the element raised the event.</p>
<p>The ECMAScript 5 provides <code>Function.protitype.bind</code> function, but it is not
implemented in all browsers (IE specially).</p>
<p>The <strong>bind</strong> method accepts an object as its first argument and returns 
a function object that, when called, calls the original function with the bound 
object.</p>
<p>To fix the missing bind function use such an implementation as the one bellow.
<strong>Important</strong>: in the book <em>"Test-Driven JavaScript Development"</em> 
by Christian Johansen you'll find proper implementation on page 98.</p>
<p>This implementation here just sketches the basic idea:</p>
<pre><code>if (!Function.prototype.bind) {
    Function.prototype.bind = function(thisObj) {

            // refers to the function on which 
            // the method bind() is called

        var target = this;

            // Return a function that uses the
            // a reference to local variable 'thisObj'
            // which is not part of the changed scope chain.

        return function() {

                // fun.apply(thisArg[, argsArray])
                // ---
                // thisArg:     The value of this provided for the call to fun.  
                //              Note that this may not be the actual value seen by 
                //              the method: 
                //              if the method is a function in non-strict mode code, 
                //              null and undefined will be replaced with the global 
                //              object, and primitive values will be boxed.
                //  argsArray:  An array like object, specifying the arguments 
                //              with which fun should be called, 
                //              or null or undefined if no arguments should 
                //              be provided to the function.

            return target.apply(thisObj, arguments);
        };

    }
}
</code></pre>
<h3 id="javascript-events-fire-event-programatically">JavaScript: Events - Fire Event Programatically</h3>
<p>Here is a function to fire event on element programatically:</p>
<pre><code>function fireEvent(element,event){
    if (document.createEventObject){
        // dispatch for IE
        var evt = document.createEventObject();
        return element.fireEvent('on'+event,evt)
    }
    else{
        // dispatch for firefox + others
        var evt = document.createEvent("HTMLEvents");
        evt.initEvent(event, true, true ); // event type,bubbling,cancelable
        return !element.dispatchEvent(evt);
    }
}
</code></pre>
<p>Example usage on the page www.google.com:</p>
<pre><code>document.getElementsByName('btnK')[0].onclick = function() { alert('hei'); }
fireEvent(document.getElementsByName('btnK')[0], 'click')
</code></pre>
<p>Reference:</p>
<blockquote>
<p>http://stackoverflow.com/questions/460644/trigger-an-event-with-prototype</p>
</blockquote>
<h2 id="javascript-libraries">JavaScript: Libraries</h2>
<h3 id="javascript-libraries-documentcloud">JavaScript: Libraries - DocumentCloud</h3>
<p><a href="http://www.documentcloud.org/opensource">DocumentCloud</a><br />
<a href="http://documentcloud.github.com/backbone/">Backbone.js</a><br />
<a href="http://documentcloud.github.com/underscore/">Underscore</a><br />
</p>
<h2 id="javascript-references">JavaScript: References</h2>
<p><a href="https://developer.mozilla.org/en/JavaScript/Reference">MDN JavaScript Reference</a><br />
<a href="http://www.w3schools.com/js/default.asp">W3Schools Reference</a><br />
</p>