<h1 id="postgres">Postgres</h1>
<h2 id="postgres-tools">Postgres: Tools</h2>
<h3 id="postgres-tools-pgsql">Postgres: Tools - pgsql</h3>
<p>How to enable/disable paged output:</p>
<pre><code>\pset pager off
\pset pager on
</code></pre>
<p>he PostgreSQL version 9.0 is obsolete, but the server or client packages are still installed. Please install the latest packages (postgresql-9.1 and postgresql-client-9.1) and upgrade the existing  clusters with pg_upgradecluster (see manpage).</p>
<p>Please be aware that the installation of postgresql-9.1 will automatically create a default cluster 9.1/main. If you want to upgrade the 9.0/main cluster, you need to remove the already existing 9.1 cluster (pg_dropcluster --stop 9.1 main, see manpage for details).</p>
<p>The old server and client packages are no longer supported. After the existing clusters are upgraded, the postgresql-9.0 and postgresql-client-9.0 packages should be removed.</p>
<h2 id="please-see-usrsharedocpostgresql-commonreadmedebiangz-for-details">Please see /usr/share/doc/postgresql-common/README.Debian.gz for details.</h2>
<p><a href="index.html">Notebok</a></p>