<h1 id="ubuntu">Ubuntu</h1>
<h2 id="ubuntu-apps">Ubuntu: Apps</h2>
<h3 id="ubuntu-apps-bluefish">Ubuntu: Apps - Bluefish</h3>
<p>How to install Bluefish?</p>
<p>Add the necessary data sources to the end of the file  <strong>/etc/apt/sources.list</strong>:</p>
<pre><code>$ echo "deb     http://debian.wgdd.de/ubuntu lucid    main restricted universe multiverse" &gt;&gt; /etc/apt/sources.list
$ echo "deb     http://debian.wgdd.de/ubuntu maverick main restricted universe multiverse" &gt;&gt; /etc/apt/sources.list
</code></pre>
<p>Then run <em>apt-get</em>:</p>
<pre><code>$ sudo apt-get update
$ sudo apt-get install wgdd-archive-keyring
$ sudo apt-get install bluefish
</code></pre>
<h2 id="ubuntu-administration">Ubuntu: Administration</h2>
<h3 id="ubuntu-adminstration-getting-information-for-the-system">Ubuntu: Adminstration - Getting Information For The System</h3>
<p>Install <strong>hwinfo</strong>. To check your graphics card use the following command:</p>
<pre><code>hwinfo --gfxcard
</code></pre>
<h3 id="ubuntu-administration-wireless-network">Ubuntu: Administration - Wireless Network</h3>
<p>install <strong>wireless-tools</strong></p>
<p>to see the chipset run:</p>
<pre><code>lspci | grep -i net
</code></pre>
<p>to see the network interfaces run:</p>
<pre><code>iwconfig
</code></pre>
<p>to check the IP addresses run:</p>
<pre><code>ip addr
</code></pre>
<p>to restart the network connections:</p>
<pre><code>service network-manager restart
</code></pre>
<p>which basically will run <code>service network-manager restart</code></p>
<p>Reference:</p>
<blockquote>
<p>https://help.ubuntu.com/community/WifiDocs/WiFiHowTo</p>
</blockquote>
<hr />
<p><a href="index.html">Notebok</a></p>